<div class="nav">
    <div class="container">
        <div class="nav-logo">
            <a class="logo" href="/">
                <h2>
                    Valuta
                </h2>
            </a>
        </div>
            
            <div class="search-bar">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="search" placeholder="Search for friends" id="friends-search">
                <div class="search-results">
                    <ul>
                    </ul>
                </div>
            </div>

        <div class="user-info-container">
            <div class="user-profile-info">
        
                <div class="profile-picture">
                    <%
                    if(user.avatar.includes("http") || user.avatar.includes("https")){
                        %>
                            <img src="<%- user.avatar %>" alt="user profile picture">
                        <%
                        }else{
                            %>
                                <img src="http://valuta-hub.me/uploads/<%- user.avatar %>" alt="user profile picture">
                            <%
                        }
                    %>
                </div>
                <div class="profile-details">
                    <h4 class="handle"><%- user.name %></h4>
                    <p class="text-muted">@<%- user.username %></p>
                    <p id="user-id-data" user-data="<%- user.id %>" hidden></p>
                </div>

                <div id="logout">
                    <i class="fa-solid fa-arrow-right-from-bracket fa-lg"></i>
                </div>
            </div>
        </div>
        
    </div>
</div>