<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./addons/header-includes.ejs") %>
    <script src="./scripts/posts.script.js" defer></script>
    <script src="./scripts/index.script.js" defer></script>
    <link rel="stylesheet" href="./styles/global.css">
    <link rel="stylesheet" href="./styles/index.css">
    <title>Valuta</title>
</head>
<body>

    <!-- Navbar Components -->
    <%- include("./components/navbar.ejs") %>


    <!-- Main Content -->

    <main>

        <div class="container">

            <%- include("./components/main-left.ejs") %>

            <!-- Middle -->
            <div class="middle">

                <form enctype="multipart/form-data" method="POST" action="/api/v1/post" class="create-post">
                    <div class="profile-picture">
                        <img src="./images/<%- user.avatar %>" alt="user profile picture">
                    </div>
                    <div class="create-post-container">
                        
                        <div class="text-area">
                            <textarea  onkeyup="textAreaAdjust(this)" placeholder="Whats on your mind, Anas?" name="content" id="content" cols="30" rows="10"></textarea>
                            <div class="feed-photo">
                                <img id="preview-image" hidden>
                            </div>
                        </div>

                        <!-- <input type="text" name="post-content" placeholder="Whats on your mind, Anas?" id="create-post" required> -->
                        
                        <div class="files-container">
                            <input type="file" name="image" id="create-post-image">
                            <input type="file" name="file" id="create-post-file">
                            <label for="create-post-image"><i class="fa-solid fa-image fa-lg"></i></label>
                            <label for="create-post-file"><i class="fa-solid fa-file-circle-plus"></i></label>

                        </div>
                    </div>

                    <input type="submit" name="post" value="Post" class="btn btn-primary">
                </form>


                <!-- FEED -->
                <div class="feeds" id="feeds">

                    <!-- <div class="feed">
                        <div class="feed-top">
                            <div class="user">
                                <div class="profile-picture">
                                    <img src="./images/user4.png" alt="user profile picture">
                                </div>

                                <div class="info">
                                    <h3>Bashar Shaabi</h3>
                                    <small>46 MINUTES AGO, <span class="student">STUDENT</span></small>
                                </div>
                            </div>
                            <span class="edit"><i class="fa-solid fa-ellipsis fa-lg"></i></span>
                        </div>

                        <div class="feed-content">
                            <small>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis deserunt facere, repellendus nostrum unde sunt sequi obcaecati dolorem vero repellat.</small>
                            <div class="feed-photo">
                                <img src="./images/basha.jpeg" alt="feed-content-image">
                            </div>
                        </div>
                        
                        <div class="action-button">
                            <span><i class="fa-regular fa-heart fa-xl"></i></span>
                            <span><i class="fa-regular fa-comment fa-xl"></i></span>
                            <span><i class="fa-regular fa-share-from-square fa-xl"></i></span>
                        </div>

                    </div> -->

                </div>

            </div>

            <%- include("./components/main-right.ejs") %>

        </div>

    </main>
</body>
</html>
