
<html lang="en">
<head>
    <%- include("./addons/header-includes.ejs") %>
    <script src="http://valuta-hub.me/scripts/posts.script.js" defer></script>
    <script src="http://valuta-hub.me/scripts/index.script.js" defer></script>
    <link rel="stylesheet" href="http://valuta-hub.me/styles/global.css">
    <link rel="stylesheet" href="http://valuta-hub.me/styles/index.css">
    <title>Valuta</title>
</head>
<body>

    <!-- Navbar Components -->
    <%- include("./components/navbar.ejs") %>


    <!-- Main Content -->

    <main>

        <div class="container">

            <%- include("./components/main-left.ejs") %>

            <!-- Middle -->
            <div class="middle">
                <form id="submit-post" class="create-post">
                <!-- <form enctype="multipart/form-data" method="POST" action="/api/v1/posts/add" class="create-post"> -->
                    <div class="profile-picture">
                        <%
                        if(user.avatar.includes("http") || user.avatar.includes("https")){
                            %>
                                <img src="<%- user.avatar %>" alt="user profile picture">
                            <%
                        }else{
                                %>
                                    <img src="http://valuta-hub.me/uploads/<%- user.avatar %>" alt="user profile picture">
                                <%
                            }
                        %>
                    </div>
                    <div class="create-post-container">
                        
                        <div class="text-area">
                            <textarea  onkeyup="textAreaAdjust(this)" placeholder="Whats on your mind, Anas?" name="content" id="content" cols="30" rows="10"></textarea>
                            <div class="feed-photo">
                                <img id="preview-image" hidden>
                            </div>
                        </div>

                        <!-- <input type="text" name="post-content" placeholder="Whats on your mind, Anas?" id="create-post" required> -->
                        
                        <div class="files-container">
                            <input type="file" name="image" id="create-post-image">
                            <input type="file" name="file" id="create-post-file">
                            <label for="create-post-image"><i class="fa-solid fa-image fa-lg"></i></label>
                            <label for="create-post-file"><i class="fa-solid fa-file-circle-plus"></i></label>

                        </div>
                    </div>

                    <input type="submit" name="post" value="Post" class="btn btn-primary">
                </form>


                <!-- FEED -->
                <div class="feeds" id="feeds"></div>

            </div>

            <%- include("./components/main-right.ejs") %>

        </div>

    </main>
</body>
</html>
