<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./addons/header-includes.ejs") %>
    <script src="http://localhost:4200/scripts/posts.script.js" defer></script>
    <script src="http://localhost:4200/scripts/profile.script.js"></script>
    <link rel="stylesheet" href="http://localhost:4200/styles/global.css">
    <link rel="stylesheet" href="http://localhost:4200/styles/index.css">
    <link rel="stylesheet" href="http://localhost:4200/styles/profile.css">

    <title>Valuta</title>
</head>
<body>

    <!-- Navbar Components -->
    <%- include("./components/navbar.ejs") %>


    <!-- Main Content -->

    <div class="message-container-holder hide">
        <div class="message-container">
            <div class="top-side">
                <h5>Send Message</h5>
                <button onclick="toggleMessageContainer()">x</button>
            </div>
            <div class="bottom-side">
                <div class="message-input">
                    <textarea name="send-msg" id="" cols="30" rows="10" placeholder="Type message to send"></textarea>
                </div>
                <div class="message-send">
                    <button onclick="sendMessage('<%- visitedUser._id %>')">Send</button>
                </div>
            </div>
        </div>
    </div>
    

    <main>

        <div class="container">

            <%- include("./components/main-left.ejs") %>

            <!-- Middle -->
            <div class="middle">


                <div class="profile-information">
                    
                    <div class="profile-background-image">
                        <%
                        if(visitedUser.bg_image.includes("http") || visitedUser.bg_image.includes("https")){
                            %>
                                <img src="<%- visitedUser.bg_image %>" alt="Profile Background Image">
                            <%
                        }else{
                                %>
                                    <img src="http://localhost:4200/uploads/<%- visitedUser.bg_image %>" alt="Profile Background Image">
                                
                                <%
                            }
                        %>
                    </div>
                    
                    <div class="profile-content">
                        <div class="profile-body">
                            <div class="profile-left">
                                <div class="pfp-container">
                                    <div class="profile-picture">
                                        <%
                                            if(visitedUser.avatar.includes("http") || visitedUser.avatar.includes("https")){
                                                %>
                                                    <img src="<%- visitedUser.avatar %>" alt="user profile picture">
                                                <%
                                            }else{
                                                    %>
                                                        <img src="http://localhost:4200/uploads/<%- visitedUser.avatar %>" alt="user profile picture">
                                                    <%
                                                }
                                            %>
                                    </div>
                                </div>
                                <div class="profile-info-left">
                                    <h3><%- visitedUser.name %></h3>
                                    <small class="text-muted">@<%- visitedUser.username %></small>
                                    <small id="joined-date" joined-date="<%- visitedUser.createdAt %>" class="text-muted"></small>

                                    <div class="profile-right-profile">
                                        <div class="profile-friends-counter">
                                            <p><%- visitedUser.friends_count %></p>
                                            <h5>Friends</h5>
                                        </div>
                
                                        <div class="profile-friends-counter">
                                            <p id="posts-count"><%- visitedUser.posts_count %></p>
                                            <h5>posts</h5>
                                        </div>
                                    </div>

                                    <div class="description">
                                        <small><%- user.bio %></small>
                                    </div>
                                </div>

                            </div>
                            <div class="profile-right">
                            
                            <% if (typeof isFriend !== "undefined") { %>
                                <% if (isFriend === "success") { %>
                                    <button id="sendMessage" class="accept-friend" onclick="toggleMessageContainer()">Message</button>
                                    <button id="removeFriend" class="remove-friend" onclick="removeFriend('<%- visitedUser.username %>')">Remove</button>
                                <% } else if (isFriend === "accept") { %>
                                    <button id="acceptFriend" class="accept-friend" onclick="friend_Request('<%- visitedUser.username %>')" >Accept</button>
                                <% } else if (isFriend === "pending") { %>
                                    <button class="pending-friend">Pending</button>
                                <% } else {
                                    %>
                                        <button id="addFriend" class="add-friend" onclick="friend_Request('<%- visitedUser.username %>')" >Add</button>
                                    <%
                                } %>
                            <% } %>
                                <div class="profile-info-right">
                                    <% 
                                        if(user.id == visitedUser.id) {
                                            %> 
                                            <button class="edit-profile">Edit Profile</button>
                                            <%
                                        }
                                    %>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- FEED -->
                <div class="feeds"></div>

            </div>

            <%- include("./components/main-right.ejs") %>

        </div>
        <script>
            <% 
                if(visitedUser.id != user.id) {
                    %> 
                    getProfilePosts("<%- visitedUser.username %>")
                    <%
                } else {
                    %>
                        getProfilePosts("me")
                    <%
                }

            %>

            let joinedElement = document.getElementById("joined-date");
            if(joinedElement ){
                const today = new Date(joinedElement.getAttribute("joined-date"))
                const yyyy = today.getFullYear();
                let mm = today.getMonth() + 1; // Months start at 0!
                let dd = today.getDate();

                if (dd < 10) dd = '0' + dd;
                if (mm < 10) mm = '0' + mm;

                const formattedToday = dd + '/' + mm + '/' + yyyy;

                joinedElement.textContent = "Joined date " + formattedToday;
            }
        </script>
    </main>
</body>
</html>
