<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./addons/header-includes.ejs") %>
    <!-- <script src="./scripts/side-bar.js" defer></script> -->
    <link rel="stylesheet" href="styles/global.css">
    <link rel="stylesheet" href="styles/index.css">
    <link rel="stylesheet" href="styles/profile.css">

    <title>Valuta</title>
</head>
<body>

    <!-- Navbar Components -->
    <%- include("./components/navbar.ejs") %>


    <!-- Main Content -->

    <main>

        <div class="container">

            <%- include("./components/main-left.ejs") %>

            <!-- Middle -->
            <div class="middle">


                <div class="profile-information">
                    
                    <div class="profile-background-image">
                        <img src="images/<%- user.bg_image %>" alt="Profile Background Image">
                    </div>
                    
                    <div class="profile-content">
                        <div class="profile-body">
                            <div class="profile-left">
                                <div class="pfp-container">
                                    <div class="profile-picture">
                                        <img src="./images/<%- user.avatar %>">
                                    </div>
                                </div>
                                <div class="profile-info-left">
                                    <h3>Anas Abu Shanab</h3>
                                    <small class="text-muted">@Anas.Abush</small>
                                    <small class="text-muted">Joined November 2021</small>
                                    
                                    <div class="profile-right-profile">
                                        <div class="profile-friends-counter">
                                            <p>29</p>
                                            <h5>Friends</h5>
                                        </div>
                
                                        <div class="profile-friends-counter">
                                            <p>18</p>
                                            <h5>posts</h5>
                                        </div>
                                    </div>

                                    <div class="description">
                                        <small>Hello guys my name is anas abu shanab and today is the best way on how to get more content</small>
                                    </div>
                                </div>

                            </div>
                            <div class="profile-right">
                                <div class="profile-info-right">
                                    <button>Edit Profile</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- FEED -->
                <div class="feeds">
                    
                    <div class="feed">
                        <div class="feed-top">
                            <div class="user">
                                <div class="profile-picture">
                                    <img src="./images/user4.png" alt="user profile picture">
                                </div>

                                <div class="info">
                                    <h3>Bashar Shaabi</h3>
                                    <small>46 MINUTES AGO, <span class="student">STUDENT</span></small>
                                </div>
                            </div>
                            <span class="edit"><i class="fa-solid fa-ellipsis fa-lg"></i></span>
                        </div>

                        <div class="feed-content">
                            <small>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis deserunt facere, repellendus nostrum unde sunt sequi obcaecati dolorem vero repellat.</small>
                            <div class="feed-photo">
                                <img src="./images/basha.jpeg" alt="feed-content-image">
                            </div>
                        </div>
                        
                        <div class="action-button">
                            <span><i class="fa-regular fa-heart fa-xl"></i></span>
                            <span><i class="fa-regular fa-comment fa-xl"></i></span>
                            <span><i class="fa-regular fa-share-from-square fa-xl"></i></span>
                        </div>

                    </div>

                    <div class="feed">
                        <div class="feed-top">
                            <div class="user">
                                <div class="profile-picture">
                                    <img src="./images/user.png" alt="user profile picture">
                                </div>

                                <div class="info">
                                    <h3>Anas Abu Shanab</h3>
                                    <small>15 MINUTES AGO, <span class="student">STUDENT</span></small>
                                </div>
                            </div>
                            <span class="edit"><i class="fa-solid fa-ellipsis fa-lg"></i></span>
                        </div>

                        <div class="feed-content">
                            <small>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis deserunt facere, repellendus nostrum unde sunt sequi obcaecati dolorem vero repellat.</small>
                            <div class="feed-photo">
                                <img src="./images/pexels-pixabay-372490.jpg" alt="feed-content-image">
                            </div>
                        </div>
                        
                        <div class="action-button">
                            <span><i class="fa-regular fa-heart fa-xl"></i></span>
                            <span><i class="fa-regular fa-comment fa-xl"></i></span>
                            <span><i class="fa-regular fa-share-from-square fa-xl"></i></span>
                        </div>

                    </div>

                    <div class="feed">
                        <div class="feed-top">
                            <div class="user">
                                <div class="profile-picture">
                                    <img src="./images/user.png" alt="user profile picture">
                                </div>

                                <div class="info">
                                    <h3>Anas Abu Shanab</h3>
                                    <small>15 MINUTES AGO, <span class="student">STUDENT</span></small>
                                </div>
                            </div>
                            <span class="edit"><i class="fa-solid fa-ellipsis fa-lg"></i></span>
                        </div>

                        <div class="feed-content">
                            <small>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis deserunt facere, repellendus nostrum unde sunt sequi obcaecati dolorem vero repellat.</small>
                            <div class="feed-photo">
                                <img src="./images/feed-2.jpg" alt="feed-content-image">
                            </div>
                        </div>
                        
                        <div class="action-button">
                            <span><i class="fa-regular fa-heart fa-xl"></i></span>
                            <span><i class="fa-regular fa-comment fa-xl"></i></span>
                            <span><i class="fa-regular fa-share-from-square fa-xl"></i></span>
                        </div>

                    </div>

                    
                
                </div>

            </div>

            <%- include("./components/main-right.ejs") %>

        </div>

    </main>
</body>
</html>
