<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./addons/header-includes.ejs") %>
    <script src="./scripts/rooms.script.js" defer></script>
    <script src="./scripts/search.script.js" defer></script>
    <link rel="stylesheet" href="styles/global.css">
    <link rel="stylesheet" href="styles/messages.css">
    <link rel="stylesheet" href="styles/rooms.css">
    <title>Document</title>
</head>
<body>

        <!-- Navbar Components -->
        <%- include("./components/navbar.ejs") %>

    <!-- Main Section -->
    <main>
        <div class="container">
            <div class="left-side">
                <div class="left-side-top">

                    <div class="user-info">
                        <div class="profile-picture">
                            <%
                            if(user.avatar.includes("http") || user.avatar.includes("https")){
                                %>
                                    <img src="<%- user.avatar %>" alt="user profile picture">
                                <%
                                }else{
                                    %>
                                        <img src="http://localhost:4200/uploads/<%- user.avatar %>" alt="user profile picture">
                                    <%
                                }
                            %>
                        </div>
                        
                        <div class="user-details">
                            <h4><%- user.name %></h4>
                            <p class="text-muted">@<%- user.username %></p>
                            <p id="user-id" user-id="<%- user.id %>"></p>
                        </div>
                    </div>

                    <i class="fa-solid fa-ellipsis-vertical fa-lg"></i>
                </div>

                <div class="search-bar">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="search" placeholder="Search for rooms" id="rooms-search">
                </div>

                <div class="messages-list">

                    <div class="messages-container">
                        
                        <!-- MESSAGE HERE -->
                        <!-- <div class="user-message">
                            <div class="message-details">
                                <div class="message-content">
                                    <h5>Software Engineering<small class="notification-count">61</small></h5>
                                </div>
                                
                                <small class="text-muted">Software Engineering topics only.</small>
                            </div>                        
                        </div> -->

                        <% 
                        rooms.forEach(room => {
                            %>
                                <div room-data="<%- room._id %>" id="room-menu-select" class="user-message" onclick="changeRoom('<%- room._id %>')">
                                    <div class="message-details">
                                        <div class="message-content">
                                            <h5><%- room.name %></h5>
                                        </div>
                                        
                                        <small class="text-muted"><%- room.description %></small>
                                    </div>                        
                                </div>
                            <%
                        })
                        %>

                    </div>
                </div>
            
            </div>
            
            <div class="right-side">

                <!-- Right Side Details -->
                <div class="right-side-top">

                    <div class="user-profile-info">
                        <h4 class="handle" id="current-room-name"><%- rooms[0].name -%></h4>       
                        <small class="text-muted" id="current-room-description"><%- rooms[0].description -%></small>
                    </div>

                </div>

                <div class="chatting-contents">
                    <div class="chatting-messages">


                        <!-- Message Sent -->
                        <div class="sent-message">
                            <div class="sent-message-content">
                                <div class="inner-message-content">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, et laudantium rem corporis repellat hic sequi debitis vel quisquam quo. Molestiae modi labore doloribus sed esse expedita maiores alias consequuntur.</p>
                                </div>

                                <div class="message-timestamp">
                                    <small class="text-muted">4:40pm</small>
                                </div>
                            </div>
                        </div>

                        <!-- Message Recieved -->
                        <div class="recieved-message">
                          
                            <div class="recieved-message-content">
                                
                                <div class="inner-message-content">
                                        <div class="avatar-picture">
                                            <img src="./uploads/user.png" alt="profile picutre">
                                        </div>
                                    <div class="message-details">
                                        <h5>Anas Abu Shanab</h5>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae optio velit sequi ullam aut suscipit quisquam dolores possimus aspernatur voluptatum enim reiciendis pariatur dolore, itaque sit? Optio nesciunt blanditiis fugiat.</p>
                                    </div>
                                </div>
                                <div class="message-timestamp">
                                    <small class="text-muted">4:40pm</small>
                                </div>
                            </div>
                        </div>
                        

                    </div>
                </div>

                <div class="user-chatting-controls">
                    <div class="send-message">
                        <input type="text" name="post-content" placeholder="Whats on your mind, Anas?" id="create-post" required>
                    </div>

                    <span><i class="fa-solid fa-paper-plane fa-lg" id="current-room-send" room-data="<%- rooms[0].id -%>" onclick="sendMessage('<%- rooms[0].id -%>')"></i></span>
                </div>

            </div>
        </div>
    </main>

</body>
</html>
