
<html lang="en">

<head>
    <%- include("./addons/header-includes.ejs") %>
        <script src="http://valuta-hub.me/scripts/posts.script.js" defer></script>
        <script src="http://valuta-hub.me/scripts/profile.script.js" defer></script>
        <link rel="stylesheet" href="http://valuta-hub.me/styles/global.css">
        <link rel="stylesheet" href="http://valuta-hub.me/styles/index.css">
        <link rel="stylesheet" href="http://valuta-hub.me/styles/profile.css">

        <title>Valuta</title>
</head>

<body>

    <!-- Navbar Components -->
    <%- include("./components/navbar.ejs") %>


        <!-- Main Content -->

        <main>

            <div class="container">

                <%- include("./components/main-left.ejs") %>

                    <!-- Middle -->
                    <div class="middle">


                        <div class="profile-information">

                            <div class="profile-background-image">
                                <img src="http://valuta-hub.me/uploads/<%- user.bg_image %>"
                                    alt="Profile Background Image">
                            </div>

                            <div class="profile-content">
                                <div class="profile-body">
                                    <div class="profile-left">
                                        <div class="pfp-container">
                                            <div class="profile-picture">
                                                <img src="http://valuta-hub.me/uploads/<%- user.avatar %>">
                                            </div>
                                        </div>
                                        <div class="profile-info-left">
                                            <h3>
                                                <%- visitedUser.name %>
                                            </h3>
                                            <small class="text-muted">
                                                <%- visitedUser.username %>
                                            </small>
                                            <small class="text-muted">
                                                <%- visitedUser.createdAt %>
                                            </small>

                                            <div class="profile-right-profile">
                                                <div class="profile-friends-counter">
                                                    <p>29</p>
                                                    <h5>Friends</h5>
                                                </div>

                                                <div class="profile-friends-counter">
                                                    <p>18</p>
                                                    <h5>posts</h5>
                                                </div>
                                            </div>

                                            <div class="description">
                                                <small>Hello guys my name is anas abu shanab and today is the best way
                                                    on how to get more content</small>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="profile-right">
                                        <div class="profile-info-right">
                                            <button>Edit Profile</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- FEED -->
                        <div class="feeds"></div>

                    </div>

                    <%- include("./components/main-right.ejs") %>

            </div>

        </main>
</body>

</html>